flows.json
[
    {
        "id": "tab1",
        "type": "tab",
        "label": "WSL Demo"
    },
    {
        "id": "inject1",
        "type": "inject",
        "z": "tab1",
        "payload": "Hello from Node-RED",
        "payloadType": "str",
        "x": 160,
        "y": 120,
        "wires": [
            [
                "debug1"
            ]
        ]
    },
    {
        "id": "debug1",
        "type": "debug",
        "z": "tab1",
        "x": 490,
        "y": 120,
        "wires": []
    },
    {
        "id": "6d66503af706f14a",
        "type": "link in",
        "z": "tab1",
        "name": "link in 1",
        "links": [],
        "x": 245,
        "y": 280,
        "wires": [
            []
        ]
    }
]
